body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: black;
  color: white;
  font-size: 2rem;
}

.js {
  color: yellow;
}

.type-text {
  color: orange;
}

.cursor {
  display: inline-block;
  width: 3px;
  height: 1em;
  background: lime;
  margin-left: 5px;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
