* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}
.container {
  padding: 6em;
  background-color: black;
  border-radius: 10px;
}
.container h2 {
  color: white;
  font-family: sans-serif;

  font-size: 2rem;
  font-weight: bold;

  margin-bottom: 30px;
}

.input-container {
  width: 100%;
  height: 300px;
  padding: 10px;

  margin-bottom: 20px;
}

#input-field {
  width: 100%;
  height: 150px;
  text-align: center;
  font-size: 1.2rem;
  font-family: sans-serif;
  color: #000;
  border: 1px solid gold;
  border-radius: 10px;
}
button {
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  color: white;
  background-color: yellowgreen;
  border-radius: 5px;
}
p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 300px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  font-size: 1.2rem;
  font-family: sans-serif;
  color: #000;
  border: 1px solid gold;
  margin-top: 2rem;
}

.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.underline {
  text-decoration: underline;
}
.italic {
  text-decoration: italic;
}
.bold {
  text-decoration: bold;
}
.lowercase {
  text-transform: lowercase;
}

.clear {
  text-transform: none;
}
