body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(gold, green);
  font-family: sans-serif;
}

.main {
  padding: 5px 0px;
  text-align: center;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.result {
  margin-top: 10px;
  font-size: 3rem;
  color: white;
  font-weight: bold;
  text-decoration: dotted underline;
}
.inputs input {
  border: none;
  border-radius: 5px;
  padding: 1rem;
  outline: none;
  font-weight: bold;
  margin-bottom: 10px;
}

#selectOp {
  margin-bottom: 10px;
  outline: none;
  font-weight: bold;
  padding: 10px;
}

#btn {
  border: none;
  background: transparent;
  color: white;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 5px;

  margin-top: 10px;
  cursor: pointer;
}
